/* LANDING PAGE STYLES */
/* Overwrites the styles present in App.css */
/* In addition to the styles present here, there might be more inline styles in the components */

.text-shadow-home {
  text-shadow: 2px 2px #000000;
}

.landing-page-main {
  @apply flex flex-col items-center w-full;
  font: 20px/1.5 Rubik;
}

.hero-section {
  background: linear-gradient(to bottom, #212e36, #627aa3);
}

.cta-button {
  @apply text-white bg-[#3dabf0] hover:opacity-90 transition font-bold py-2.5 px-4 rounded;
}

.protocol-stat-box {
  @apply flex flex-col items-start py-4 px-6 rounded-lg border-2 border-white/70 bg-gray-800/60 text-2xl;
  box-shadow: 0 8px 16px 1px rgba(255, 255, 255, 0.5);
}

.protocol-stat-value {
  @apply text-4xl;
}

.about-section {
  @apply w-full flex flex-col items-center gap-16 py-48;
  background: linear-gradient(to bottom, #627aa3, #212e36);
}

.about-box {
  @apply w-10/12 flex text-start p-12 rounded-lg bg-gray-800/60 text-xl;
}

.roadmap-section {
  @apply w-full flex flex-col items-center gap-16 pb-64;
  background: linear-gradient(to bottom, #212e36, #627aa3);
}

.roadmap-card {
  @apply bg-gray-900/60 p-6 rounded-xl border-2 border-white/70 w-1/4;
  box-shadow: 0 6px 12px 1px rgba(255, 255, 255, 0.25);
}
